*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --base: #ffc600;
    --spacing: 10px;
    --blur: 10px
}

img{
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
    width: 560px;
    height: 600px;
    margin-bottom: 35px;
}

h2{
    padding: 25px;
}

.h1{
    color: var(--base);
}

body{
    text-align: center;
    background-color: #193549;
}

.controls{
    margin-bottom: 50px;
}

input{
    width: 100px;
}